---

import { api } from "../config/api"
import Card from "@components/Card.astro";
import Certificate from "@components/Certificate.astro"

// const projects = await api.getProjects() ;
const certificates = await api.getCertificates() ;


---
<section class="certificates" id="certificates">
    <h2>Certificates</h2>

    <swiper-container class="mySwiper" pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
    slides-per-view="auto" loop="true"  coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
    coverflow-effect-modifier="1" coverflow-effect-slide-shadows="false" navigation="true" >      
      {
        certificates.map((certificate) => 
        <swiper-slide>
           <Certificate {certificate}/>
        </swiper-slide>)
      }

      
    
  </swiper-container>
</div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

<style>
   .certificates{
    margin: 50px 20px 0 20px;
  }
 swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: auto;
    }

/* Estilos de la paginacion y navigation */

  swiper-container::part(bullet) {
    background-color: #888888;
  }
  swiper-container::part(bullet-active) {
    background-color: var(--primary-color); 
  }


  swiper-container::part(button-prev),
  swiper-container::part(button-next) {
    color: var(--primary-color);
  }

  swiper-container::part(button-prev)::before,
  swiper-container::part(button-next)::before {
    background-color: rgba(30, 144, 255, 0.2); 
  }

</style>

